* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
/* Nav */

.flex-nav {
    background-color: #2A5EE8;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    height: 32px;
    width: 50px;
}

.uno,
.tre {
    width: 16%;
    display: flex;
    align-items: center;
}

.due {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tre {
    justify-content: flex-end;
}

.logo {
    height: 28px;
}

h5 {
    color: white;
    font-weight: 400;
    font-size: 12px;
}

.accesso {
    height: 30px;
    border-radius: 15px;
    border: 0px;
    font-size: 12px;
}

.accedi {
    width: 58px;
    background-color: white;
}

/* Title */

.flex-img {
    height: 440px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-title {
    height: 280px;
    width: 72%;
    text-align: center;
}

h1 {
    color: white;
    font-size: 36px;
    padding-bottom: 30px;
}

.ptitle {
    color: white;
    padding-left: 16%;
    padding-right: 16%;
    font-size: 12px;
    line-height: 1.6;
}

.buttont {
    height: 48px;
    padding: 0 24px;
    margin: 12px;
    border-radius: 24px;
    border: none;
    font-size: 14px;
    font-weight: 600;
}

.second {
    color: white;
    background-color: #23272A;
}

/* Main */

.flex-bianco {
    height: 600px;
    background-image: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-gray1 {
    height: 600px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white {
    width: 8%;
}

.img {
    height: 400px;
    width: 40%;
}

.text {
    height: 400px;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-item {
    width: 100%;
}

h2 {
    font-weight: bolder;
    font-size: 32px;
    padding-bottom: 16px;
}

.p-item {
    font-size: 12px;
    line-height: 1.6;
}

.wave {
    height: 50px;
    background-image: url(../img/wave.svg);
}

.reverse {
    transform: rotate(180deg);
}

.flex-gray2 {
    height: 1154px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 916px;
    width: 72%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.star {
    height: 20px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
}

h3 {
    font-size: 16px;
    padding-bottom: 20px;
}

.scarica {
    color: white;
    background-color: #8EA1E1;
    border: none;
    height: 44px;
    margin: 0 40%;
    border-radius: 22px;
}

.flex-foot1 {
    height: 400px;
    background-color: #23272A;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.contact {
    height: 340px;
    width: 24%;
    border: 1px solid black;
}

.list {
    height: 340px;
    width: 12%;
    border: 1px solid black;

}

hr {
    height: 1px;
    border: 1px solid #48557D;
}

.flex-foot2 {
    height: 140px;
    background-color: #23272A;
    padding-left: 14%;
    padding-right: 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registrati {
    width: 72px;
    color: white;
    background-color: #8EA1E1;
}