* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-nav {
    background-color: #2A5EE8;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    height: 32px;
    width: 50px;
}

.uno,
.tre {
    width: 16%;
    display: flex;
    align-items: center;
}

.due {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tre {
    justify-content: flex-end;
}

.logo{
    height: 28px;
}

h5 {
    color: white;
    font-weight: 400;
    font-size: 12px;
}

.accedi{
    height: 30px;
    width: 58px;
    background-color: white;
    border-radius: 15px;
    border: 0px;
}

.flex-img {
    height: 440px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-title {
    height: 280px;
    width: 72%;
    border: 1px solid black;
}

.flex-bianco {
    height: 600px;
    background-image: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-gray1 {
    height: 600px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 400px;
    width: 40%;
    border: 1px solid black;
}

.text {
    height: 400px;
    width: 32%;
    border: 1px solid black;
}

.wave{
    height: 50px;
    background-image: url(../img/wave.svg);
}

.reverse{
    transform: rotate(180deg);
}

.flex-gray2 {
    height: 1154px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 916px;
    width: 72%;
    border: 1px solid black;
}

.flex-foot1 {
    height: 400px;
    background-color: #23272A;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.contact {
    height: 340px;
    width: 24%;
    border: 1px solid black;
}

.list {
    height: 340px;
    width: 12%;
    border: 1px solid black;
}

.flex-foot2 {
    height: 140px;
    background-color: #23272A;
    padding-left: 14%;
    padding-right: 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}